@font-face{
    font-family: 'oswald';
    src: url('/static/fonts/Oranienbaum-Regular.ttf');
}

body{ 
	background: url(/static/img/hypnotize.png) repeat 0 0;
  font-family: 'Oranienbaum', serif;
}

.container{
  display: block;
  height: 100%;
  width: 100%;
  margin-left: 12.5%;
  padding: 0;
}

h2{
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #000;
}

#header-border{
  width:60%;
  padding:1px;
  background-color: #01798e;
  margin-bottom: 15px;
  margin-left: 20%;
  opacity: .5;
}

#main-display{
  margin-top: 3vh;
  margin-left: 25%;
  width: 75%;
  padding: 5px;
  transform: translate(-25%, 0);
  position: relative;
  border: 1px solid #01798e;
  background: url(/static/img/cream_dust.png) repeat 0 0;
}

.row{
	margin: 0px;
}

.field-label{
	font-size: 15px;
	color: #018ea7;
	font-weight: bold;
}

.col-md-12{
	padding: 2px 0px 2px 5px;
	border-bottom: 1px solid #01798e;
	overflow-y: auto;
}

#feature-description{
	height: 15vh;
}

.pager li a{
	color: #018ea7;
}

#client-sort{
	display: inline;
	width: 33%;
}

.btn-primary{
 	background-color: #01798e;
	margin-right: 5px;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
}

.btn-group{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}