.container{
  display: block;
  height: 100%;
  width: 75%;
}

#feature_request_display{
  background-color: #f5f5f5;
  border: 2px solid #01798e;
  margin-top: 10px;
}

.field-label{
	font-size: 15px;
	color: #018ea7;
	font-weight: bold;
}

.col-md-12{
	padding: 5px;
	border-bottom: 1px solid #01798e;
}

.pager li a{
	color: #018ea7;
}

#sort-selector{
	display: inline;
	width: 33%;
}