<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clients</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/clients.css')}}">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js'></script>
  <script src="{{ url_for('static', filename='js/clients.js')}}"></script>
</head>
<body>
{% include "nav.html" %}
<div class="container"> 
    <div id="client-display-list">
    	<div>
      		<h2><strong>CLIENT LIST</strong></h2>
      		<div id='header-border'></div>
    	</div>
	    <div class="client-display" data-bind="foreach: clientList">
	      <div class="row">
	        <div class="col-md-12"><span class="field-label">Name: </span><span><a data-bind ="text: name, attr:{ href: '/MVVM/clients/' + name.toLowerCase().replace(' ', '') }"></a></span></div>
	        <div class="col-md-12"><span class="field-label">Homepage: </span><a data-bind = "attr:{ href: homepage }"><span data-bind="text: homepage"></span></a></div>
	      	<div class="col-md-12"><span class="field-label">Description: </span><span data-bind="text: description"></span></div>
		  </div>
		</div>
	</div>
</div>
</body>
</html>