<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/sidebar.css')}}">
</head>

<body>
    <div id="wrapper">
      <div id="sidebar-wrapper">
      <img class="image_logo" src="/static/img/triskel2.png">
        <ul class="sidebar-nav">
          <li class="sidebar-header">
            <a href="#">MVVM</a>
          </li>
          <li>
            <a href="/MVVM/overview">Overview</a>
          </li>
          <li>
            <a href="/MVVM/dashboard">Dashboard</a>
          </li>
          <li>
            <a href="/MVVM/clients">Clients</a>
          </li>
          <li>
            <a href="/MVVM/submit">Submit</a>
          </li>
        </ul>
      </div>
    </div>
</body>
</html>
