<!DOCTYPE html>
<html lang="en">
<head>
  <title>Overview</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/overview.css')}}">
</head>
<body>
{% include "nav.html" %}
<div class="container">
  <div class="row" id='overview-display'>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus tincidunt magna, eget malesuada dui feugiat ut. Nam malesuada in est non pellentesque. Nam in libero viverra, ultricies arcu non, vestibulum risus. Phasellus a metus feugiat, interdum libero sed, laoreet metus. Aliquam condimentum tellus tellus, eu malesuada libero tincidunt non. Nulla eleifend hendrerit erat, non hendrerit felis lacinia eget. Integer egestas sem id ligula cursus pulvinar. Praesent nec justo purus. Sed condimentum mauris ligula, a commodo eros posuere nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

      <div class="divider">
        <div class="subdivider"></div>
        <img class="image" src="/static/img/triskel2.png">
        <div class="subdivider"></div>
      </div>

      <p>Nam semper auctor sem at bibendum. Nam ut sollicitudin metus. Praesent faucibus aliquet orci vitae feugiat. Mauris rhoncus ultricies arcu, et dapibus nulla luctus eget. Nam pharetra pharetra dui id aliquam. Mauris semper erat ut ligula vehicula, vel bibendum enim viverra. Morbi eget consectetur arcu. Duis finibus est nec elementum pulvinar. Praesent vestibulum augue quis lobortis finibus. Duis rhoncus non arcu at faucibus. Donec fermentum arcu nulla, sit amet suscipit mauris ornare non. Donec massa enim, scelerisque eget ornare ut, condimentum a nibh. Suspendisse eget lorem eu ipsum sollicitudin semper. In porta massa ut lorem malesuada, id imperdiet tellus mollis.</p>

      <div class="divider">
        <div class="subdivider"></div>
        <img class="image" src="/static/img/triskel2.png">
        <div class="subdivider"></div>
      </div>

      <p>Aliquam erat volutpat. Curabitur at tincidunt lectus, eu consequat purus. Proin ex ipsum, rhoncus vel pulvinar in, sagittis in nunc. Nunc molestie odio quam, eget efficitur arcu iaculis quis. Vivamus a imperdiet lectus, sed sodales nunc. Phasellus a justo vel purus egestas gravida. Quisque lorem metus, tempus sit amet molestie vel, molestie a mauris. Fusce volutpat ipsum vel felis aliquet consectetur. Proin hendrerit eu tortor nec tempus. Nulla quam dui, convallis auctor congue nec, fringilla et lacus. Nullam ornare condimentum blandit.</p>
  </div>
</div>
</body>
</html>